@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "OrderDetails";
}
@*<form method="post" enctype="multipart/form-data" asp-action="PrintPdfViaBluetooth" asp-controller="ManagerAccount">
    <button class="btn btn-primary" type="submit">Print</button>
</form>*@
<a class="btn btn-primary" asp-action="PrintReview" asp-controller="ManagerAccount" asp-route-id="@Model.FirstOrDefault()?.OrderCode">Print</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Order Code</th>
            <th scope="col">Name Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ProductId</th>
                <td>@item.OrderCode</td>
                <td>@item.Product.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@((decimal)item.Price * (decimal)item.Quantity)</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" asp-controller="ManagerAccount">Back To Account Setting</a>
